<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <form method="post" action="/Details">
        <input type="text" name="email" placeholder="Enter Email Address">
        <input type="text" name="Password" placeholder="Enter The Password">
        <input type="number" name="rollNumber" placeholder="Enter Roll number">
        <button>Add The User</button>
    </form>
</body>
</html>